<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Vrembem demo: <%= page.title %></title>
  <link rel="icon" type="image/png" sizes="64x64" href="<%= site.baseurl %>assets/favicon.png">
  <link rel="stylesheet" href="<%= site.baseurl %>assets/styles.css" />
</head>
<body>
  <div class="page">
    <header class="page__header navbar">
      <div class="navbar__container container">

        <div class="navbar__item">
          <a href="<%= site.baseurl %>index.html" class="button button_color_inverted">Back</a>
        </div>
        <div class="navbar__item">
          <a href="https://github.com/sebnitu/vrembem" class="button button_color_inverted">GitHub</a>
        </div>

      </div>
    </header><!-- .page__header .navbar -->
    <div class="page__main">
      <div class="page__section page__section_banner hero">
        <div class="page__container container text_align_center">
          <h1 class="hero__title"><%= page.title %></h1>
          <p class="hero__desc"><%= page.desc %></p>
        </div>
      </div>
      <div class="page__section">
        <div class="page__container container typography">
          <aside class="aside">
            <h3>Aside Title</h3>
            <p>This is some text that goes in teh aside</p>
            <ul>
              <li>
                <a href="#">Some item</a>
              </li>
              <li>
                <a href="#">Some item</a>
              </li>
              <li>
                <a href="#">Some item</a>
              </li>
              <li>
                <a href="#">Some item</a>
              </li>
              <li>
                <a href="#">Some item</a>
              </li>
            </ul>
          </aside>

          <%- content %>
        </div>
      </div>
    </div><!-- .page__main -->
  </div><!-- .page -->
</body>
</html>