---
import Base from "./Base.astro";
import Menu from "../components/CollectionMenu.astro";
import OnThisPage from "../components/OnThisPage.astro";

const { headings } = Astro.props;
const {
  title,
  drawer = false,
  aside = true,
} = Astro.props.frontmatter || Astro.props;
---

<Base {title} {drawer} {aside}>
  {
    drawer && (
      <div slot="drawer">
        <Menu collection={drawer} menuClass="layout__menu" />
      </div>
    )
  }
  {
    aside && (
      <div slot="aside">
        <OnThisPage {headings} menuClass="layout__menu" />
      </div>
    )
  }
  <slot />
</Base>
