---
import { getPackages } from "../modules/getPackages";
import Base from "./Base.astro";
import Intro from "../components/Intro.astro";
import Navi from "../components/CollectionNavi.astro";
import OnThisPage from "../components/OnThisPage.astro";
import LinkEditPage from "../components/LinkEditPage.astro";
import type { CollectionEntry, CollectionKey } from "astro:content";

interface Props {
  entry: CollectionEntry<CollectionKey>;
  headings?: { depth: number; slug: string; text: string }[];
  frontmatter?: any;
}

const { entry, headings } = Astro.props;
const { title, description, collection, filename } =
  Astro.props.frontmatter || Astro.props;
const entries = await getPackages();

const layout = {
  hasSidebar: !!collection,
  hasAside: !!headings?.filter((item) => item.depth === 2).length
};
---

<Base {title} {layout}>
  {
    layout.hasSidebar && (
      <Fragment slot="sidebar">
        <Navi {entries} {collection} />
      </Fragment>
    )
  }
  {
    layout.hasAside && (
      <Fragment slot="aside">
        <OnThisPage {headings} />
      </Fragment>
    )
  }
  <Intro data={{ title, description }} />
  <slot />
  <div slot="append">
    <LinkEditPage dir="pages" {filename} />
  </div>
</Base>

<script>
  import { headingAnchor } from "../modules/headingAnchor";
  headingAnchor.mount();
</script>
