---
import type { CollectionEntry, CollectionKey } from "astro:content";
import Base from "./Base.astro";
import Intro from "../components/Intro.astro";
import CollectionNavi from "../components/CollectionNavi.astro";
import CollectionPagi from "../components/CollectionPagi.astro";
import OnThisPage from "../components/OnThisPage.astro";
import EditPageLink from "../components/EditPageLink.astro";

interface Props {
  entry?: CollectionEntry<CollectionKey>;
  headings?: { depth: number; slug: string; text: string }[];
  frontmatter?: {
    title: string;
    description?: string;
    collection?: CollectionKey;
  };
}

const { entry, headings } = Astro.props;
const { collection } = entry || Astro.props.frontmatter || {};
const { title, description } = entry?.data || Astro.props.frontmatter || {};

// Check and store if this is a module
const module =
  entry?.collection === "modules"
    ? (entry as CollectionEntry<"modules">)
    : undefined;

const layout = {
  hasSidebar: !!collection,
  hasAside: !!headings?.filter((item) => item.depth === 2).length
};
---

<Base {title} {layout}>
  {
    collection && (
      <Fragment slot="sidebar">
        <CollectionNavi {collection} {module} />
      </Fragment>
    )
  }
  {
    layout.hasAside && (
      <Fragment slot="aside">
        <OnThisPage {headings} />
      </Fragment>
    )
  }
  <Intro data={{ title, description }} />
  <slot />
  <div slot="append">
    {/* TODO: Add add CollectionPagi here by default  */}
    <EditPageLink />
  </div>
</Base>

<script>
  import { headingAnchor } from "../modules/headingAnchor";
  headingAnchor.mount();
</script>
