---
import type { CollectionEntry, CollectionKey } from "astro:content";
import Base from "@/layouts/Base.astro";
import Intro from "@/components/Intro.astro";
import SidebarNavi from "@/components/SidebarNavi.astro";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import PageNavi from "@/components/PageNavi.astro";
import OnThisPage from "@/components/OnThisPage.astro";
import EditPageLink from "@/components/EditPageLink.astro";

interface Props {
  entry?: CollectionEntry<CollectionKey>;
  headings?: { depth: number; slug: string; text: string }[];
  frontmatter?: {
    title: string;
    description?: string;
  };
}

const { entry, headings } = Astro.props;
const { collection } = entry || {};
const { title, description } = entry?.data || Astro.props.frontmatter || {};

// Create our layout state object
const layout = {
  hasSidebar: collection,
  hasAside: headings?.some((item) => item.depth === 2) ?? false
};
---

<Base {title} {layout}>
  {
    collection && (
      <Fragment slot="sidebar">
        <SidebarNavi />
      </Fragment>
    )
  }
  {
    layout.hasAside && (
      <Fragment slot="aside">
        <OnThisPage {headings} />
      </Fragment>
    )
  }
  {collection === "packages" && <Breadcrumbs {collection} />}

  <Intro data={{ title, description }} />
  <slot />
  <Fragment slot="append">
    <div>
      <EditPageLink {entry} />
    </div>
    <PageNavi />
  </Fragment>
</Base>

<script>
  import { headingAnchor } from "../modules/headingAnchor";
  headingAnchor.mount();
</script>
