---
import type { CollectionEntry } from "astro:content";
import { getPackages } from "../modules/getPackages";
import Base from "./Base.astro";
import Navi from "../components/CollectionNavi.astro";
import OnThisPage from "../components/OnThisPage.astro";
import LinkEditPage from "../components/LinkEditPage.astro";

interface Props {
  entry: CollectionEntry<"packages">;
  headings?: any;
  frontmatter?: any;
}

const entries = await getPackages();
const { headings } = Astro.props;
const { title, collection, filename } = Astro.props.frontmatter || Astro.props;

const layout = {
  hasDrawer: !!collection,
  hasAside: !!headings.filter((item) => item.depth === 2).length
};
---

<Base {title} {layout}>
  {layout.hasDrawer && <Navi {entries} collection={collection} slot="drawer" />}
  {layout.hasAside && <OnThisPage {headings} slot="aside" />}
  <slot />
  <div slot="append">
    <LinkEditPage dir="pages" {filename} />
  </div>
</Base>

<script>
  import { headingAnchor } from "../modules/headingAnchor";
  headingAnchor.mount();
</script>
