---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Base from "./Base.astro";
import Navi from "../components/CollectionNavi.astro";
import OnThisPage from "../components/OnThisPage.astro";
import LinkEditPage from "../components/LinkEditPage.astro";

interface Props {
  entry: CollectionEntry<"packages">;
  headings?: any;
  frontmatter?: any;
}

const entries = await getCollection("packages");
const { headings } = Astro.props;
const { title, collection, filename } = Astro.props.frontmatter || Astro.props;

const layout = {
  hasDrawer: !!collection,
  hasAside: !!headings.filter((item) => item.depth === 2).length,
};
---

<Base {title} {layout}>
  {
    layout.hasDrawer && (
      <div slot="drawer">
        <Navi {entries} collection={collection} menuClass="layout__menu" />
      </div>
    )
  }
  {
    layout.hasAside && (
      <div slot="aside">
        <OnThisPage {headings} menuClass="layout__menu" />
      </div>
    )
  }
  <slot />
  <div slot="append">
    <LinkEditPage dir="pages" {filename} />
  </div>
</Base>

<script>
  import { headerAnchor } from "../modules/headerAnchor";
  headerAnchor.mount();
</script>
