---
import fs from "node:fs";
import path from "node:path";
import { Code } from "astro:components";
import CodeBlock from "@/components/CodeBlock.astro";
import ResetExampleButton from "./ResetExampleButton.astro";
import Tabs from "@/components/Tabs.astro";
import TabsPanel from "@/components/TabsPanel.astro";
import Icon from "@/components/Icon.astro";

interface TabFile {
  label: string;
  file: string;
}

interface Props {
  label?: string;
  lang?: string;
  style?: string;
  iframe?: string;
  tabs?: boolean | TabFile[];
  tabsLabel?: string;
  tabsSyncKey?: string;
  flush?: boolean;
  resettable?: boolean;
  expandable?: boolean;
}

const {
  label,
  lang = "html",
  style,
  iframe,
  tabs,
  tabsLabel,
  tabsSyncKey,
  flush,
  resettable,
  expandable
} = Astro.props;

const uid = JSON.stringify(Math.floor(Math.random() * Date.now()));

const classes: string[] = [];
if (expandable) classes.push("code-example_expandable", "is-scroll-locked");

function getFileContent(filePath: string) {
  return fs.readFileSync(path.join(process.cwd(), filePath), "utf-8");
}
---

<div class={`code-example ${classes.join(" ")}`.trim()} {style}>
  {
    Astro.slots.has("demo") && (
      <div class="code-example__demo">
        <slot name="demo" />
      </div>
    )
  }
  {
    Astro.slots.has("output") && (
      <div id={`code-example-output-${uid}`} class="code-example__output">
        <div class={`code-example__inner ${flush ? "padding-0" : ""}`.trim()}>
          <slot name="output" />
        </div>
      </div>
    )
  }
  {
    iframe && (
      <div class="code-example__output">
        <iframe src={iframe} />
      </div>
    )
  }
  {
    !tabs && (
      <div class="code-example__toolbar">
        <div class="flex-grow">{label || lang?.toUpperCase()}</div>
        {resettable && (
          <ResetExampleButton target={`code-example-output-${uid}`} />
        )}
      </div>
    )
  }
  {
    !tabs && Astro.slots.has("default") && (
      <div class="code-example__input">
        {expandable && (
          <div class="code-example__actions">
            <span class="button button_size_sm background scroll-lock-hint">
              <Icon name="unlock" classes="icon_size_sm" />
              <span>Unlock scroll</span>
            </span>
            <button
              type="button"
              class="button button_color_primary button_size_sm"
              data-action="toggle-expand"
            >
              Expand
            </button>
          </div>
          <div class="scroll-lock-screen"></div>
        )}
        <slot />
      </div>
    )
  }
  {
    iframe && (
      <div class="code-example__input">
        <CodeBlock nopre>
          <Code
            code={getFileContent(path.join("public", iframe))}
            lang="html"
            theme="css-variables"
            class="pre"
          />
        </CodeBlock>
      </div>
    )
  }
  {
    tabs === true && (
      <Tabs syncKey={tabsSyncKey} label={tabsLabel}>
        <slot />
      </Tabs>
    )
  }
  {
    Array.isArray(tabs) && (
      <Tabs syncKey={tabsSyncKey} label={tabsLabel}>
        {tabs.map((tab: TabFile) => (
          <TabsPanel label={tab.label}>
            <CodeBlock nopre>
              <Code
                code={getFileContent(tab.file)}
                lang="js"
                theme="css-variables"
                class="pre"
              />
            </CodeBlock>
          </TabsPanel>
        ))}
      </Tabs>
    )
  }
</div>

<script>
  const btns = document.querySelectorAll("[data-action='toggle-expand']");
  btns.forEach((btn) => {
    // Get the elements
    const parent = btn.closest(".code-example") as HTMLElement;
    const code = parent.querySelector("code") as HTMLElement;

    // Get the height variable
    const padding = 42; // Kind of a magic number atm
    const height = code.offsetHeight + padding;

    btn.addEventListener("click", () => {
      // Toggle the expand state
      parent.classList.toggle("is-expanded");

      // Update the state
      if (parent.classList.contains("is-expanded")) {
        btn.innerHTML = "Collapse";
        parent.style.setProperty("--vb-code-example-max-height", `${height}px`);
      } else {
        btn.innerHTML = "Expand";
        parent.style.setProperty("--vb-code-example-max-height", null);
      }
    });
  });

  document.querySelectorAll(".is-scroll-locked").forEach((screen) => {
    screen.addEventListener("click", () => {
      screen.classList.remove("is-scroll-locked");
    });
  });
</script>
