---
import fs from "node:fs";
import path from "node:path";
import { Code } from "astro:components";
import CodeBlock from "@/components/CodeBlock.astro";
import Tabs from "@/components/Tabs.astro";
import TabsPanel from "./TabsPanel.astro";

interface FileTab {
  label: string;
  path: string;
}

interface Props {
  label?: string;
  lang?: string;
  tabs?: boolean;
  syncKey?: string;
  iframe?: string;
  style?: string;
  files?: FileTab[];
  flush?: boolean;
  resettable?: boolean;
}

const {
  label,
  iframe,
  style,
  lang = "html",
  tabs = false,
  syncKey,
  files = [],
  flush = false,
  resettable = false
} = Astro.props;

const uid = JSON.stringify(Math.floor(Math.random() * Date.now()));

function getFileContent(filePath: string) {
  return fs.readFileSync(path.join(process.cwd(), filePath), "utf-8");
}
---

<div class="code-example" {style}>
  {
    Astro.slots.has("demo") && (
      <div class="code-example__demo">
        <slot name="demo" />
      </div>
    )
  }
  {
    Astro.slots.has("output") && (
      <div id={`code-example-output-${uid}`} class="code-example__output">
        <div class={`code-example__inner ${flush ? "padding-0" : ""}`.trim()}>
          <slot name="output" />
        </div>
      </div>
    )
  }
  {
    iframe && (
      <div class="code-example__output">
        <iframe src={iframe} />
      </div>
    )
  }
  {
    !tabs && (
      <div class="code-example__toolbar">
        <div class="flex-grow">{label || lang?.toUpperCase()}</div>
        {resettable && (
          <button
            type="button"
            class="link"
            data-reset={`code-example-output-${uid}`}
          >
            Reset <span class="sr-only">example</span>
          </button>
        )}
      </div>
    )
  }
  {
    iframe && (
      <div class="code-example__input">
        <CodeBlock nopre>
          <Code
            code={getFileContent(path.join("public", iframe))}
            lang="html"
            theme="css-variables"
            class="pre"
          />
        </CodeBlock>
      </div>
    )
  }
  {
    tabs && (
      <Tabs {syncKey} {label}>
        <slot />
      </Tabs>
    )
  }

  {
    !tabs && Astro.slots.has("default") && (
      <div class="code-example__input">
        <slot />
      </div>
    )
  }
  {
    files.length > 0 && (
      <Tabs {syncKey} {label}>
        {files.map((file: FileTab) => (
          <TabsPanel label={file.label}>
            <CodeBlock nopre>
              <Code
                code={getFileContent(file.path)}
                lang="js"
                theme="css-variables"
                class="pre"
              />
            </CodeBlock>
          </TabsPanel>
        ))}
      </Tabs>
    )
  }
</div>
