---
import type { CollectionEntry } from "astro:content";
import { currentPage } from "../modules/currentPage";
import Icon from "./Icon.astro";
import Popover from "../components/Popover.astro";

interface Props {
  entries: CollectionEntry<"packages">[];
  collection: string;
  modules?: CollectionEntry<"modules">[];
  menuClass?: string;
}

const { entries, collection, modules = [], menuClass = "" } = Astro.props;
const title = collection.charAt(0).toUpperCase() + collection.slice(1);
const cp = currentPage(Astro.url.pathname, {
  classBase: "menu__action",
  classCurrent: "is-active"
});

const hasModules = modules.length && modules[0].data.parent;

const categoryIcons = {
  core: "settings",
  modules: "layers",
  "form-control": "check-circle",
  component: "box"
};

function getIconName(string: string) {
  return categoryIcons[string] ? categoryIcons[string] : string;
}
---

<nav>
  <h2 class="sr-only">{title}</h2>
  <ul class={`menu menu_collection ${menuClass}`.trim()}>
    {
      entries.map((entry) => (
        <li class="menu__item">
          <a
            class={cp.classes(`/${collection}/${entry.id}`)}
            href={`/${collection}/${entry.id}${hasModules && cp.isParent(`/${collection}/${entry.id}`) ? `#${modules[0].data.group}` : ""}`}
          >
            <span class="flex-grow">
              {entry.data.title}
              {hasModules && cp.isParent(`/${collection}/${entry.id}`) ? (
                <span class="foreground-subtle">#{modules[0].data.group}</span>
              ) : (
                ""
              )}
            </span>
            {entry.data.category && (
              <Popover placement="left" triggerClass="display-flex">
                <Fragment slot="trigger">
                  <Icon
                    name={getIconName(entry.data.category)}
                    classes="icon_size_sm foreground-primary"
                  />
                </Fragment>
                <Fragment slot="tooltip">{entry.data.category}</Fragment>
              </Popover>
            )}
          </a>
          {hasModules === entry.id && (
            <ul class="menu menu_minimal">
              {modules.map((item) => (
                <li class="menu__item">
                  <a
                    class={cp.classes(`/${collection}/${item.id}`)}
                    href={`/${collection}/${item.id}`}
                  >
                    {item.data.title}
                  </a>
                </li>
              ))}
            </ul>
          )}
        </li>
      ))
    }
  </ul>
</nav>

<script>
  import { drawers } from "../modules/useDrawer";

  document.querySelectorAll(".menu_collection .is-active").forEach((anchor) => {
    anchor.addEventListener("click", (event) => {
      // Guard if this is an active module page
      if (anchor.getAttribute("href").includes("#")) return;

      // Prevent the default behavior
      event.preventDefault();

      // Clear the hash if one has been set
      const url = window.location.pathname + window.location.search;
      history.pushState({}, "", url);
      window.dispatchEvent(new Event("hashchange", { bubbles: true }));

      // Scroll to top
      window.scrollTo(0, 0);

      // Close the modal drawer if open
      if (drawers.activeModal && drawers.activeModal.id === "layout-sidebar") {
        drawers.activeModal.close();
      }
    });
  });
</script>
