---
import type { CollectionEntry } from "astro:content";
import { currentPage } from "../modules/currentPage";
import Icon from "./Icon.vue";

interface Props {
  entries: CollectionEntry<"packages">[];
  collection: string;
}

const { entries, collection } = Astro.props;
const pagi = { prev: null, next: null };
const cp = currentPage(new URL(Astro.request.url).pathname);

entries.find((entry, index) => {
  if (cp.isCurrent(`/${collection}/${entry.slug}`)) {
    pagi.prev = entries[index - 1];
    pagi.next = entries[index + 1];
  }
});
---

<div class="gap-y margin-top-xl">
  <a href="#" class="link level">
    <Icon name="edit" iconClass="icon_size_sm" />
    <span>Suggest changes on this page</span>
  </a>
  <hr class="sep" />
  <div>
    {
      pagi.prev && (
        <a class="link" href={`/${collection}/${pagi.prev.slug}`}>
          Prev {pagi.prev.data.title}
        </a>
      )
    }
    {
      pagi.next && (
        <a class="link" href={`/${collection}/${pagi.next.slug}`}>
          Next {pagi.next.data.title}
        </a>
      )
    }
  </div>
</div>
