---
import { getCollection } from "astro:content";
import type { CollectionEntry, CollectionKey } from "astro:content";
import { currentPage } from "@/modules/currentPage";
import Icon from "@/components/Icon.astro";
import Popover from "@/components/Popover.astro";
import { getModuleMeta } from "@/helpers/getModuleMeta";
import { byCategory, byOrder, byTitle } from "@/helpers/sortCollectionBy";

interface Props {
  collection: CollectionKey;
  module?: CollectionEntry<"modules">;
}

const { collection, module } = Astro.props;

// Set the base collection
const baseCollection = module ? "packages" : collection;

// Get all the collection entries of the current page
const entries = await getCollection(baseCollection);

// Sort packages by category, otherwise sort by title/order
if (baseCollection === "packages") {
  entries.sort(
    byCategory(["core", "modules", "layout", "form-control", "component"])
  );
} else {
  entries.sort(byTitle).sort(byOrder);
}

// TODO: Create a modules menu component and maybe move all this logic there
// Get all the sibling modules if the current page is a module
let moduleMeta: ReturnType<typeof getModuleMeta> | undefined;
let modules: CollectionEntry<"modules">[] = [];
if (module) {
  moduleMeta = getModuleMeta(module);
  modules = await getCollection("modules", (entry) => {
    const entryMeta = getModuleMeta(entry);
    return (
      entryMeta.parent === moduleMeta?.parent &&
      entryMeta.group === moduleMeta?.group
    );
  });
  modules.sort(byTitle).sort(byOrder);
}

// Create the title for the collection
const title = collection.charAt(0).toUpperCase() + collection.slice(1);

// Build path prefix and suffix
const prefixPath = ["packages", "modules"].includes(collection)
  ? "/packages"
  : "";
const suffixPath = collection === "modules" ? `#${moduleMeta?.group}` : "";

// Setup the current page instance
const cp = currentPage(Astro.url.pathname, {
  classBase: "menu__action",
  classCurrent: "is-active"
});

// Setup the category icon logic
const categoryIcons = {
  core: "settings",
  modules: "layers",
  "form-control": "check-circle",
  component: "box"
};

function getIconName(string: string) {
  return categoryIcons[string as keyof typeof categoryIcons] ?? string;
}
---

<nav>
  <h2 class="sr-only">{title}</h2>
  <ul class="menu menu_collection">
    {
      entries.map((entry) => (
        <li class="menu__item">
          <a
            class={cp.classes(`${prefixPath}/${entry.id}`)}
            href={`${prefixPath}/${entry.id}${suffixPath}`}
          >
            <span class="flex-grow">{entry.data.title}</span>
            {"category" in entry.data && entry.data.category && (
              <Popover placement="left" triggerClass="display-flex">
                <Fragment slot="trigger">
                  <Icon
                    name={getIconName(entry.data.category)}
                    classes="icon_size_sm foreground-primary"
                  />
                </Fragment>
                <Fragment slot="tooltip">{entry.data.category}</Fragment>
              </Popover>
            )}
          </a>
          {moduleMeta?.parent === entry.id && (
            <ul class="menu menu_minimal">
              {modules.map((item) => (
                <li class="menu__item">
                  <a
                    class={cp.classes(
                      `${prefixPath}/${getModuleMeta(item).path}`
                    )}
                    href={`${prefixPath}/${getModuleMeta(item).path}`}
                  >
                    {item.data.title}
                  </a>
                </li>
              ))}
            </ul>
          )}
        </li>
      ))
    }
  </ul>
</nav>

<script>
  import { drawers } from "../modules/useDrawer";

  document.querySelectorAll(".menu_collection .is-active").forEach((anchor) => {
    anchor.addEventListener("click", (event) => {
      // Guard if this is an active module page
      if (anchor.getAttribute("href")?.includes("#")) return;

      // Prevent the default behavior
      event.preventDefault();

      // Clear the hash if one has been set
      const url = window.location.pathname + window.location.search;
      history.pushState({}, "", url);
      window.dispatchEvent(new Event("hashchange", { bubbles: true }));

      // Scroll to top
      window.scrollTo(0, 0);

      // Close the modal drawer if open
      if (
        drawers &&
        drawers.activeModal &&
        drawers.activeModal.id === "layout-sidebar"
      ) {
        drawers.activeModal.close();
      }
    });
  });
</script>
