---
import type { CollectionEntry } from "astro:content";
import { currentPage } from "../modules/currentPage";

interface Props {
  entries: CollectionEntry<"packages">[];
  collection: string;
  menuClass?: string;
}

const { entries, collection, menuClass } = Astro.props;
const title = collection.charAt(0).toUpperCase() + collection.slice(1);
const cp = currentPage(new URL(Astro.request.url).pathname, {
  classBase: "menu__action",
  classCurrent: "is-active",
});
---

<nav>
  <h2 class="padding padding-y-sm">
    <a class="header-link" href={`/${collection}/`}>
      {title}
    </a>
  </h2>
  <ul class={`menu${menuClass ? " " + menuClass : ""}`}>
    {
      entries.map((entry) => (
        <li class="menu__item">
          <a
            class={cp.classes(`/${collection}/${entry.slug}`)}
            href={`/${collection}/${entry.slug}`}
          >
            {entry.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
