---
import type { CollectionEntry } from "astro:content";
import { currentPage } from "../modules/currentPage";
import Icon from './Icon.astro';

interface Props {
  entries: CollectionEntry<"packages">[];
  collection: string;
  menuClass?: string;
}

const { entries, collection, menuClass } = Astro.props;
const title = collection.charAt(0).toUpperCase() + collection.slice(1);
const cp = currentPage(new URL(Astro.request.url).pathname, {
  classBase: "menu__action",
  classCurrent: "is-active",
});

---

<nav>
  <h2 class="sr-only">{title}</h2>
  <ul class={`menu menu_collection ${menuClass}`.trim()}>
    <li class="menu__item">
      <a
        class={cp.classes(`/${collection}`)} 
        href={`/${collection}`}
      >
        <strong>{title}</strong>
      </a>
    </li>
    {
      entries.map((entry) => (
        <li class="menu__item">
          <a
            class={cp.classes(`/${collection}/${entry.slug}`)}
            href={`/${collection}/${entry.slug}`}
          >
            <span class="flex-grow-1">{entry.data.title}</span>
            {
              entry.data.status && (
                <Icon name={entry.data.status} iconClass="icon_size_sm foreground-primary" />
              )
            }
          </a>
        </li>
      ))
    }
  </ul>
</nav>
