---
import { currentPage } from "../modules/currentPage";
import Icon from "./Icon.astro";
import Popover from "../components/Popover.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry, CollectionKey } from "astro:content";

interface Props {
  entry: CollectionEntry<CollectionKey>;
}

const { entry } = Astro.props;

// Get all the collection entries of the current page
const entries = await getCollection(entry.collection);

// Create the title for the collection
const title =
  entry.collection.charAt(0).toUpperCase() + entry.collection.slice(1);

// Define the path prefix
let prefixPath = "";
if (entry.collection === "packages") {
  prefixPath = "/packages";
}
if (entry.collection === "modules") {
  prefixPath = `/packages/${entry.data.parent}`;
}

// Setup the current page instance
const cp = currentPage(Astro.url.pathname, {
  classBase: "menu__action",
  classCurrent: "is-active"
});

// Setup the category icon logic
const categoryIcons = {
  core: "settings",
  modules: "layers",
  "form-control": "check-circle",
  component: "box"
};

function getIconName(string: string) {
  return categoryIcons[string as keyof typeof categoryIcons] ?? string;
}
---

<nav>
  <h2 class="sr-only">{title}</h2>
  <ul class="menu menu_collection">
    {
      entries.map((entry) => (
        <li class="menu__item">
          <a
            class={cp.classes(`${prefixPath}/${entry.id}`)}
            href={`${prefixPath}/${entry.id}`}
          >
            <span class="flex-grow">{entry.data.title}</span>
            {"category" in entry.data && entry.data.category && (
              <Popover placement="left" triggerClass="display-flex">
                <Fragment slot="trigger">
                  <Icon
                    name={getIconName(entry.data.category)}
                    classes="icon_size_sm foreground-primary"
                  />
                </Fragment>
                <Fragment slot="tooltip">{entry.data.category}</Fragment>
              </Popover>
            )}
          </a>
          {/* {hasModules === entry.id && (
            <ul class="menu menu_minimal">
              {modules.map((item) => (
                <li class="menu__item">
                  <a
                    class={cp.classes(
                      `${pathPrefix}/${item.data.parent}/${item.id}`
                    )}
                    href={`${pathPrefix}/${item.data.parent}/${item.id}`}
                  >
                    {item.data.title}
                  </a>
                </li>
              ))}
            </ul>
          )} */}
        </li>
      ))
    }
  </ul>
</nav>

<script>
  import { drawers } from "../modules/useDrawer";

  document.querySelectorAll(".menu_collection .is-active").forEach((anchor) => {
    anchor.addEventListener("click", (event) => {
      // Guard if this is an active module page
      if (anchor.getAttribute("href")?.includes("#")) return;

      // Prevent the default behavior
      event.preventDefault();

      // Clear the hash if one has been set
      const url = window.location.pathname + window.location.search;
      history.pushState({}, "", url);
      window.dispatchEvent(new Event("hashchange", { bubbles: true }));

      // Scroll to top
      window.scrollTo(0, 0);

      // Close the modal drawer if open
      if (
        drawers &&
        drawers.activeModal &&
        drawers.activeModal.id === "layout-sidebar"
      ) {
        drawers.activeModal.close();
      }
    });
  });
</script>
