---
// TODO: Ensure that this is pointing to the correct file in the repo
import Icon from "@/components/Icon.astro";

interface Props {
  dir?: string;
  ext?: string;
}

const { dir = "content", ext = ".mdx" } = Astro.props;

const ghPath = "https://github.com/sebnitu/vrembem/blob/next/docs/src/";
const url = `${ghPath}${dir}${Astro.url.pathname}${ext}`;
---

<a
  href={url}
  target="_blank"
  class="link flex flex_inline flex_gap_sm align-items-center"
>
  <Icon name="edit" classes="icon_size_sm" />
  <span>Edit page</span>
</a>
