---
import Icon from "./Icon.astro";

interface Props {
  dir?: string;
  filename?: string;
  ext?: string;
}

const { dir = "content", ext = ".mdx" } = Astro.props;

let { filename = "" } = Astro.props;

if (filename) {
  filename = "/" + filename;
}

const ghPath = "https://github.com/sebnitu/vrembem/blob/next/docs/src/";
const url = `${ghPath}${dir}${Astro.url.pathname}${filename}${ext}`;

---

<a
  href={url}
  target="_blank"
  class="link flex flex_inline flex_gap_sm align-items-center"
>
  <Icon name="edit" classes="icon_size_sm" />
  <span>Suggest changes to this page</span>
</a>
