---
interface Props {
  width?: number;
  height?: number;
  classes?: string;
}

const { width = 48, height = 48, classes = "" } = Astro.props;
const widthStyle = `width: ${width}px;`;
const heightStyle = `height: ${height}px;`;

---

<div style={`${widthStyle} ${heightStyle}`} class={classes}>
  <svg
    width="48"
    height="48"
    viewBox="0 0 48 48"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    style="width: 100%; height: auto;"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M16.7068 0.0349949C15.8543 0.145494 14.559 0.70947 13.8628 1.27304C13.5423 1.53258 13.1984 1.69453 13.0986 1.63303C12.6606 1.36303 10.0268 3.56297 8.68051 5.32337C8.40895 5.67824 7.83746 6.33714 7.41049 6.78733C6.98331 7.23773 6.36125 8.01656 6.02802 8.51801C5.69479 9.01946 5.22526 9.66052 4.98474 9.9424C4.6143 10.3764 3.49044 12.1569 1.71492 15.1232C1.49702 15.4872 1.00467 16.2659 0.620871 16.8536C0.0222473 17.7704 -0.0614203 18.0472 0.0327314 18.8012C0.170875 19.9111 0.51788 21.3308 0.762922 21.7886C0.947525 22.1336 1.40554 23.5561 2.14128 26.0695C2.57154 27.5392 2.97857 28.1143 3.71986 28.3C4.42744 28.4769 5.10089 27.7547 5.47339 26.4191C6.91753 21.2412 11.3291 14.2877 14.412 12.3301C15.5172 11.6282 15.5252 11.6001 12.5354 18.9707C9.38274 26.743 7.34244 33.4139 7.05156 36.9009C6.92081 38.47 6.95617 38.6697 7.87179 41.5136C8.39805 43.1485 8.90663 44.9013 9.00202 45.4087C9.43454 47.7126 10.1384 48.3885 11.4894 47.7977C12.1471 47.5103 14.9568 44.913 16.2957 43.355C16.6349 42.9603 17.5217 41.9464 18.2665 41.1017C21.5949 37.3269 24.0046 33.5257 27.2979 26.8555C29.8233 21.7404 30.9636 19.0591 32.1148 15.5297L32.4655 14.4542L33.323 14.9538C33.7946 15.2285 34.8742 15.5971 35.7222 15.7728C37.4866 16.1383 37.6332 16.1517 37.4983 15.934C37.4443 15.8468 37.7395 15.7618 38.1543 15.7449C41.7064 15.602 43.3787 15.2351 42.3443 14.8259C42.0721 14.7181 42.1089 14.6824 42.5061 14.6693C43.2895 14.643 43.9451 14.4284 43.9451 14.198C43.9451 14.0752 43.6737 14.0432 43.277 14.1192C42.8019 14.21 42.6979 14.1887 42.9172 14.0454C43.0868 13.9345 43.1331 13.8396 43.02 13.8345C42.9069 13.8293 42.9873 13.725 43.1986 13.6024C43.4792 13.44 43.6223 13.4435 43.729 13.6157C43.9888 14.035 46.0427 13.16 45.8674 12.7045C45.8034 12.5384 45.8536 12.4025 45.9788 12.4025C46.104 12.4025 46.3914 12.218 46.6175 11.9925C46.8436 11.767 46.9758 11.5825 46.9112 11.5825C46.8465 11.5825 46.9351 11.4414 47.108 11.269C47.2809 11.0966 47.3701 10.8198 47.3064 10.654C47.235 10.4687 47.3127 10.3524 47.5084 10.3524C47.9303 10.3524 48.1406 9.98607 47.8961 9.67712C47.7884 9.5412 47.7124 9.19925 47.7272 8.91736C47.7603 8.29045 47.1902 7.66599 46.8029 7.90483C46.652 7.9977 46.4329 8.00118 46.3161 7.91242C46.0881 7.73918 44.6446 7.34208 43.6367 7.17562C41.0673 6.75064 37.5341 6.0288 36.8528 5.78956C36.3393 5.60915 35.8762 5.25429 35.6194 4.84489C34.3963 2.89383 34.3786 2.87538 33.6262 2.7534C33.2157 2.68677 32.6306 2.46967 32.3264 2.27101C31.6638 1.83804 30.4984 1.97662 30.2628 2.51641C30.1781 2.71076 30.0904 3.56154 30.0682 4.40719C30.0445 5.29754 29.8414 6.5364 29.5857 7.35008C29.3427 8.12316 29.1439 9.02253 29.1439 9.3489C29.1439 9.67528 29.0514 9.9424 28.9383 9.9424C28.8253 9.9424 28.7313 10.0578 28.7297 10.1987C28.728 10.3397 28.4004 11.1007 28.0011 11.89C27.5072 12.8675 27.2372 13.7283 27.1552 14.5897C27.0578 15.6117 26.9743 15.8312 26.7204 15.7341C26.4618 15.6351 26.4302 15.7378 26.5414 16.3145C26.6273 16.7597 26.609 16.9104 26.4912 16.728C26.3508 16.5102 26.1952 16.6572 25.8488 17.3344C25.5487 17.9211 25.4712 18.2544 25.6233 18.3049C25.7505 18.3473 25.8548 18.4742 25.8548 18.587C25.8548 18.6997 25.7401 18.7538 25.5999 18.7071C25.2335 18.5853 24.8384 19.1837 23.6029 21.7303C23.0012 22.9706 22.3858 24.1281 22.2349 24.3026C22.0842 24.477 21.7201 25.0767 21.4257 25.6351C20.9342 26.5683 19.9374 28.1487 19.6862 28.3931C19.6282 28.4495 19.3967 28.8482 19.1716 29.2793C18.9467 29.7103 18.3596 30.3934 17.8671 30.797C17.3747 31.2009 16.3272 32.1714 15.5394 32.9539C14.7517 33.7364 14.0615 34.3311 14.0058 34.2758C13.8808 34.1511 15.4471 29.8081 17.532 24.4979C19.0205 20.7065 20.624 16.1447 21.0987 14.3501C21.607 12.4287 21.9948 8.30193 21.9103 5.71391C21.8083 2.59288 21.4919 1.6849 20.32 1.1488C19.9156 0.963884 19.3536 0.661909 19.0709 0.477402C18.4741 0.0882971 17.5828 -0.0785793 16.7068 0.0349949Z"
      fill="currentColor"></path>
  </svg>
</div>
