---
interface Props {
  id?: string;
  arrow?: boolean;
  href?: string;
  triggerClass?: string;
  popoverClass?: string;
  tooltipClass?: string;
  placement?: string;
}

const {
  id,
  arrow = false,
  href,
  triggerClass = "link",
  popoverClass = "",
  tooltipClass = "",
  placement,
  ...rest
} = Astro.props;

const uid = id ? id : `${Math.floor(Math.random() * Date.now())}`;
const triggerId = `popover-trigger-${uid}`;
const popoverId = Astro.slots.has("default") ? `popover-${uid}` : null;
const tooltipId = Astro.slots.has("tooltip") ? `popover-tooltip-${uid}` : null;

const css = {};
if (placement) {
  css["--vb-popover-placement"] = placement;
}
---

{
  Astro.slots.has("trigger") && !href && (
    <button
      id={triggerId}
      data-popover-trigger={popoverId}
      aria-controls={popoverId}
      aria-describedby={tooltipId}
      class={triggerClass}
      {...rest}
    >
      <slot name="trigger" />
    </button>
  )
}

{
  Astro.slots.has("trigger") && href && (
    <a
      href={href}
      id={triggerId}
      data-popover-trigger={popoverId}
      aria-controls={popoverId}
      aria-describedby={tooltipId}
      class={triggerClass}
      {...rest}
    >
      <slot name="trigger" />
    </a>
  )
}

{
  Astro.slots.has("default") && (
    <div
      id={popoverId}
      aria-labelledby={triggerId}
      class={("popover " + popoverClass).trim()}
      style={css}
    >
      <slot />
      {arrow && <span class="popover__arrow" />}
    </div>
  )
}

{
  Astro.slots.has("tooltip") && (
    <div
      id={tooltipId}
      class={("popover popover_tooltip " + tooltipClass).trim()}
      style={css}
    >
      <slot name="tooltip" />
      <span class="popover__arrow" />
    </div>
  )
}

<script>
  import "../modules/usePopover";
</script>
