---
import Icon from "./Icon.astro";
import CodeBlock from "./CodeBlock.astro";

interface Props {
  data: {};
  keyWidth?: string;
  valueWidth?: string;
}

const { data, keyWidth, valueWidth } = Astro.props;
const props = Object.entries(data);

// Create variables for pattern matching on prop keys
const keys = Object.keys(data).sort((a, b) => b.length - a.length);
const stringPattern = keys
  .map((key) => `(?<![\w-])${escapeSpecialChars(key)}(?![\w-])`)
  .join("|");
const regExpObj = new RegExp(stringPattern, "g");

// Escape the special characters of a string so that it can be used in RegExp
function escapeSpecialChars(value: string) {
  return value.replace(/[.*+?^${}()|[\\]\\]/g, "\\$&");
}

// Wrap the matching string value with an anchor element and href hash value
function linkifyValue(value: string) {
  return value.replace(regExpObj, (match) => {
    return `<a href="#${match}" aria-label="Permalink to '${match}' CSS custom property">${match}</a>`;
  });
}

function iconMap(value: string) {
  return value === "light" ? "sun" : value === "dark" ? "moon" : value;
}

// TODO:
// - [x] Capture the hash click and apply active class to row
// - [x] Add the ability to click cell to copy its contents
// - [x] Allow clicking a CSS value to link to prop reference
// - [x] Add active class to the "selected" table row
// - [x] Fix scrolling so that it's not cut off by header
// - [x] Add an "x" to clear the current hash of a table row
// - [ ] Implement search filter of table in sticky header
// - [ ] Fix styles and mobile styles of reference table
---

<div class="reference-table">
  <table class="table">
    <colgroup>
      <col width={keyWidth} />
      <col width={valueWidth} />
    </colgroup>
    <tr>
      <th>Var</th>
      <th>Value</th>
    </tr>

    {
      props.map(([key, value]) => (
        <tr id={key}>
          <td>
            <a
              class="table-anchor"
              href={`#${key}`}
              aria-label={`Permalink to '${key}'`}
            >
              <Icon name="hash" classes="icon_size_sm" />
            </a>
            <button
              class="table-anchor-clear"
              type="button"
              aria-label="Clear current hash anchor"
            >
              <Icon name="x" classes="icon_size_sm" />
            </button>
            <CodeBlock inline={key} />
          </td>
          <td>
            {typeof value === "string" ? (
              <CodeBlock inline={linkifyValue(value)} />
            ) : (
              Object.entries(value).map(([themeKey, themeValue]) => (
                <CodeBlock
                  inline={linkifyValue(themeValue)}
                  icon={iconMap(themeKey)}
                />
              ))
            )}
          </td>
        </tr>
      ))
    }
  </table>
</div>

<script>
  // Build the props from the reference table
  const props = [];
  const rows = document.querySelectorAll(".reference-table tr");
  rows.forEach((el) => {
    props.push({
      id: el.id,
      el: el
    });
  });

  // Check for active block function
  function checkActiveHash() {
    const result = props.find((el) => {
      return `#${el.id}` === window.location.hash;
    });

    props.forEach((item) => {
      item.el.classList.remove("is-active");
    });

    if (result) {
      result.el.classList.add("is-active");

      // Scroll to the element after it's open. This is needed to ensure the
      // element's toggled height is factored into the scroll position.
      const el = document.querySelector(`#${result.id}`);
      if (el) el.scrollIntoView({ block: "center" });
    }
  }

  // Setup click listener to anchors in reference table
  const anchors = document.querySelectorAll(".reference-table a");
  anchors.forEach((anchor) => {
    anchor.addEventListener("click", (event) => {
      event.preventDefault();
      const hash = anchor.getAttribute("href");
      window.location.hash = hash;
      checkActiveHash();
    });
  });

  // Setup event listener for hash change
  window.addEventListener("hashchange", () => {
    checkActiveHash();
  });

  // Add event listener for hash clear buttons
  window.addEventListener("click", (event) => {
    if (
      event.target instanceof Element &&
      event.target.closest(".table-anchor-clear")
    ) {
      history.replaceState(
        null,
        "",
        window.location.pathname + window.location.search
      );
      checkActiveHash();
    }
  });

  // Run an initial active hash check
  checkActiveHash();
</script>
