---
import Icon from "./Icon.astro";
import CodeBlock from "./CodeBlock.astro";

interface Props {
  data: {};
}

const { data } = Astro.props;
const props = Object.entries(data);

// Create variables for pattern matching on prop keys
const keys = Object.keys(data).sort((a, b) => b.length - a.length);
const stringPattern = keys
  .map((key) => `(?<![\w-])${escapeSpecialChars(key)}(?![\w-])`)
  .join("|");
const regExpObj = new RegExp(stringPattern, "g");

// Escape the special characters of a string so that it can be used in RegExp
function escapeSpecialChars(value: string) {
  return value.replace(/[.*+?^${}()|[\\]\\]/g, "\\$&");
}

// Wrap the matching string value with an anchor element and href hash value
function linkifyValue(value: string) {
  return value.replace(regExpObj, (match) => {
    return `<a href="#${match}" aria-label="Permalink to '${match}' CSS custom property">${match}</a>`;
  });
}

// TODO:
// - [x] Capture the hash click and apply active class to row
// - [x] Add the ability to click cell to copy its contents
// - [x] Allow clicking a CSS value to link to prop reference
// - [x] Add active class to the "selected" table row
// - [x] Fix scrolling so that it's not cut off by header
// - [ ] Implement search filter of table in sticky header
// - [ ] Fix styles and mobile styles of reference table
---

<div class="reference-table">
  <table class="table">
    <tr>
      <th>Var</th>
      <th>Value</th>
    </tr>

    {
      props.map(([key, value]) => (
        <tr id={key}>
          <td>
            <a
              class="table-anchor"
              href={`#${key}`}
              aria-label={`Permalink to '${key}' CSS custom property`}
            >
              <Icon name="hash" classes="icon_size_sm" />
            </a>
            <CodeBlock>
              <code>{key}</code>
            </CodeBlock>
          </td>
          <td>
            {typeof value === "string" ? (
              <CodeBlock>
                <code set:html={linkifyValue(value)} />
              </CodeBlock>
            ) : (
              Object.entries(value).map(([themeKey, themeValue]) => (
                <CodeBlock aria-label={`Used in ${themeKey} theme`}>
                  <code set:html={linkifyValue(themeValue)} />
                </CodeBlock>
              ))
            )}
          </td>
        </tr>
      ))
    }
  </table>
</div>

<script>
  // Build the docBlock array
  const props = [];
  const rows = document.querySelectorAll(".reference-table tr");
  rows.forEach((el) => {
    props.push({
      id: el.id,
      el: el
    });
  });

  const anchors = document.querySelectorAll(".reference-table a");

  anchors.forEach((anchor) => {
    anchor.addEventListener("click", (event) => {
      event.preventDefault();
      const hash = anchor.getAttribute("href");
      window.location.hash = hash;
      checkActiveBlock();
    });
  });

  // Check for active block function
  function checkActiveBlock() {
    const result = props.find((el) => {
      return `#${el.id}` === window.location.hash;
    });

    props.forEach((item) => {
      item.el.classList.remove("is-active");
    });

    if (result) {
      result.el.classList.add("is-active");

      // Scroll to the element after it's open. This is needed to ensure the
      // element's toggled height is factored into the scroll position.
      const el = document.querySelector(`#${result.id}`);
      if (el) el.scrollIntoView({ block: "center" });
    }
  }

  // Setup event listener for hash change and check for active block on load
  // and change.
  checkActiveBlock();
  window.addEventListener("hashchange", () => {
    checkActiveBlock();
  });
</script>
