---
interface Props {
  type?: string;
  returns?: string;
  defaults?: string;
  selector?: string;
  href?: {};
  readonly?: boolean;
}

const { type, defaults, returns, selector, href, readonly } = Astro.props;
---

<div class="flex justify-content-between align-items-center">
  {
    type && (
      <p>
        <strong>Type:</strong>
        <span class="margin-left-sm">
          {readonly && <span>readonly</span>}
          <code>{type}</code>
        </span>
      </p>
    )
  }
  {
    selector && (
      <p>
        <strong>Selector:</strong>
        <span class="margin-left-sm">
          <code>{selector}</code>
        </span>
      </p>
    )
  }
  {
    returns && (
      <p>
        <strong>Returns:</strong>
        <span class="margin-left-sm">
          <code>{returns}</code>
        </span>
      </p>
    )
  }
  {
    defaults && (
      <p>
        <strong>Default:</strong>
        <span class="margin-left-sm">
          <code>{defaults}</code>
        </span>
      </p>
    )
  }
  {
    href && (
      <a
        class="link link_hash"
        href={`#${href.hash}`}
        data-target={href.hash}
        data-filter={href.filter}
      >
        <slot />
      </a>
    )
  }
</div>

<script>
  const links = document.querySelectorAll(".link_hash");
  links.forEach((link: HTMLAnchorElement) => {
    link.addEventListener("click", () => {
      function onScrollEnd() {
        const target = document.getElementById(link.dataset.target);
        const data = { value: link.dataset.filter };
        target.dispatchEvent(
          new CustomEvent("filter", {
            detail: data
          })
        );
        window.removeEventListener("scrollend", onScrollEnd);
      }
      window.addEventListener("scrollend", onScrollEnd);
    });
  });
</script>
