---
interface Props {
  type?: string;
  returns?: string;
  defaults?: string;
  selector?: string;
  hash?: {
    target: string;
    text?: string;
    event?: string;
    detail?: {};
  };
  readonly?: boolean;
}

const { type, defaults, returns, selector, hash, readonly } = Astro.props;
---

<div class="reference-bar">
  {
    type && (
      <p class="reference-bar__item">
        <strong>Type:</strong>
        <span>
          {readonly && <span>readonly</span>}
          <code>{type}</code>
        </span>
      </p>
    )
  }
  {
    selector && (
      <p class="reference-bar__item">
        <strong>Selector:</strong>
        <span>
          <code>{selector}</code>
        </span>
      </p>
    )
  }
  {
    returns && (
      <p class="reference-bar__item">
        <strong>Returns:</strong>
        <span>
          <code>{returns}</code>
        </span>
      </p>
    )
  }
  {
    defaults && (
      <p class="reference-bar__item">
        <strong>Default:</strong>
        <span>
          <code>{defaults}</code>
        </span>
      </p>
    )
  }
  {
    hash && (
      <a
        class="link link_hash"
        href={`#${hash.target}`}
        data-target={hash.target}
        data-event={hash.event}
        data-detail={JSON.stringify(hash.detail)}
      >
        {hash.text || "Variables"}
        <span class="arrow" />
      </a>
    )
  }
</div>

<script>
  const links = document.querySelectorAll(".link_hash");
  links.forEach((link: HTMLAnchorElement) => {
    link.addEventListener("click", () => {
      // Guard if a target was not provided
      const target = document.getElementById(link.dataset.target);
      if (!target) return;

      // Add event listener that dispatches an event on scroll end
      window.addEventListener(
        "scrollend",
        () => {
          // Dispatch a custom event if event is provided
          if (link.dataset.event) {
            const data = link.dataset.detail
              ? JSON.parse(link.dataset.detail)
              : {};
            target.dispatchEvent(
              new CustomEvent(link.dataset.event, {
                detail: data
              })
            );
          }
        },
        { once: true }
      );
    });
  });
</script>
