---
import Icon from "./Icon.astro";
import Popover from "./Popover.astro";
import CodeBlock from "./CodeBlock.astro";
import coreData from "../data/cssvar-core.json";

interface Props {
  data: {};
  id?: string;
  filter?: boolean;
  expandable?: boolean;
  keyWidth?: string;
  valueWidth?: string;
  keyLabel?: string;
  labelWidth?: string;
  valueLabel?: string;
}

const {
  data,
  id,
  filter = true,
  expandable = false,
  keyWidth,
  valueWidth,
  labelWidth = "5em",
  keyLabel = "Variable",
  valueLabel = "Value"
} = Astro.props;

// Create a unique ID if one is not provided
const uid = id ? id : `${Math.floor(Math.random() * Date.now())}`;

// Create an array of the provided data object
const props = Object.entries(data);

// Is the provided data the core data?
const isRoot = data === coreData;

// Escape the special characters of a string so that it can be used in RegExp
function escapeSpecialChars(value: string) {
  return value.replace(/[.*+?^${}()|[\\]\\]/g, "\\$&");
}

function buildRegExp(data) {
  return new RegExp(
    Object.keys(data)
      .sort((a, b) => b.length - a.length)
      .map((key) => `(?<![\w-])${escapeSpecialChars(key)}(?![\w-])`)
      .join("|"),
    "g"
  );
}

// Create regular expression objects using provided json objects
const dataRegExp = buildRegExp(data);
const coreRegExp = buildRegExp(coreData);

// Wrap the matching string value with an anchor element and href hash value
function linkifyValue(value: string) {
  let result = value;
  if (isRoot || dataRegExp.test(result)) {
    result = result.replace(dataRegExp, (match) => {
      return `<a href="#${match}" aria-label="Permalink to '${match}' CSS custom property">${match}</a>`;
    });
  }
  if (!isRoot && coreRegExp.test(result)) {
    result = result.replace(coreRegExp, (match) => {
      return `<a href="/packages/core/css-variables#${match}" aria-label="Permalink to '${match}' CSS custom property">${match}</a>`;
    });
  }
  return result;
}

// Map theme names to the icons that represent them
function iconMap(value: string) {
  return value === "light" ? "sun" : value === "dark" ? "moon" : value;
}
---

<div
  id={`reference-table-${uid}`}
  class=`reference-table${expandable ? " is-expandable" : ""}`
  data-config={JSON.stringify({ filter, expandable })}
>
  {
    filter && (
      <div class="reference-table__header">
        <div class="input-group">
          <input
            id={`reference-table-filter-${uid}`}
            name={`reference-table-filter-${uid}`}
            class="input reference-table__filter"
            type="text"
            placeholder="Filter..."
          />
          <label class="input-icon" for={`reference-table-filter-${uid}`}>
            <Icon name="eye" classes="icon_size_sm" />
            <span class="sr-only">Type to filter the reference table.</span>
          </label>
          <button
            class="button button_icon input-clear display-none"
            type="button"
            data-clear={`reference-table-filter-${uid}`}
          >
            <Icon name="x" classes="icon_size_sm" />
          </button>
        </div>
      </div>
    )
  }
  <table
    class="table sm:table_responsive"
    style={`--vb-table-mobile-label-width: ${labelWidth}`}
  >
    <colgroup>
      <col width={keyWidth} />
      <col width={valueWidth} />
    </colgroup>
    <thead>
      <tr>
        <th>{keyLabel}</th>
        <th>{valueLabel}</th>
      </tr>
    </thead>
    <tbody>
      {
        props.map(([key, value]) => (
          <tr id={key}>
            <td data-mobile-label="Var">
              <a
                class="table-anchor"
                href={`#${key}`}
                aria-label={`Permalink to '${key}'`}
              >
                <Icon name="hash" classes="icon_size_sm" />
              </a>
              <button
                class="table-anchor-clear"
                type="button"
                aria-label="Clear current hash anchor"
              >
                <Icon name="x" classes="icon_size_sm" />
              </button>
              <CodeBlock inline={key} />
            </td>
            <td data-mobile-label={valueLabel}>
              {typeof value === "string" ? (
                <CodeBlock inline={linkifyValue(value)} />
              ) : (
                Object.entries(value).map(([themeKey, themeValue]) => (
                  <div class="flex flex_wrap_no gap-0 align-items-center">
                    <Popover triggerClass="foreground-lighter flex padding-y-sm margin-left-sm">
                      <Fragment slot="trigger">
                        <Icon name={iconMap(themeKey)} classes="icon_size_sm" />
                      </Fragment>
                      <Fragment slot="tooltip">
                        {`${themeKey.charAt(0).toUpperCase() + themeKey.slice(1)} theme value`}
                      </Fragment>
                    </Popover>
                    <CodeBlock inline={linkifyValue(themeValue)} />
                  </div>
                ))
              )}
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
  <div class="notice border-radius-square-top display-none">
    <div class="flex align-items-center">
      <Icon name="alert-triangle" classes="icon_size_sm foreground-important" />
      <p>There are no variables that match your search.</p>
    </div>
  </div>
  {
    expandable && (
      <div class="reference-table__footer">
        <button
          class="button button_color_primary button_size_sm reference-table__toggle"
          type="button"
        >
          Expand
        </button>
      </div>
    )
  }
</div>

<script>
  import "../modules/useReferenceTable";
</script>
