---
const { name, description, value, valueType, computed, computedType } =
  Astro.props;
---

<div class="card">
  <div class="card__body gap-y-xs">
    <p class="card__title"><code>{name}</code></p>
    {description && <p>{description}</p>}
    {value && <p>Value: {value}</p>}
    {valueType && <p>Type: {valueType}</p>}
    {computed && <p>Computed: {computed}</p>}
    {computedType && <p>Type: {computedType}</p>}
    {
      Astro.slots.has("default") && (
        <>
          <p>Default:</p>
          <div class="margin-top-md">
            <slot />
          </div>
        </>
      )
    }
  </div>
</div>
