<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %> / Component Catalog</title>
  <link rel="icon" type="image/png" sizes="64x64" href="<%= baseurl %>assets/img/favicon.png">
  <link rel="stylesheet" href="<%= baseurl %>assets/styles.min.css" />
</head>
<body>
  <%- svgSymbols %>
  <div class="page">
    <header class="page__header navbar">
      <%- include('/partials/navbar.ejs') %>
    </header><!-- .page__header .navbar -->
    <div class="page__main">
      <div class="page__section">
        <div class="page__container container typography">
          <%- content %>
        </div>
      </div>
    </div><!-- .page__main -->
  </div><!-- .page -->
  <script src="<%= baseurl %>assets/scripts.min.js"></script>
</body>
</html>