<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Component Catalog</title>
  <link rel="icon" type="image/png" sizes="64x64" href="<%= site.baseurl %>assets/favicon.png">
  <link rel="stylesheet" href="<%= site.baseurl %>assets/styles.min.css" />
</head>
<body>
  <div class="cover">
    <header class="header cover__header">
      <div class="cover__inner">
        <h1 class="cover__title">Vrembem</h1>
        <p class="cover__desc">&mdash;is a CSS component library based on the BEM methodology. You're viewing the component catalog where you can test all the available components.</p>
        <p class="cover__version">Version 0.2.0</p>
      </div>
    </header>
    <div class="content cover__content">
      <ul class="jumbo-menu">
        <li class="jumbo-menu__item">
          <input type="text" class="jumbo-menu__search" placeholder="Search..." />
        </li>
        <% site.menu.forEach(function(item) { %>
          <li class="jumbo-menu__item">
            <a class="jumbo-menu__link" href=".<%= item.href %>">
              <span class="jumbo-menu__title"><%= item.text %></span>
              <span class="jumbo-menu__desc"><%= item.desc %></span>
            </a>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
</body>
</html>